body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #FFF7ED;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.header-container {
  padding: 1em;
  display: flex;
  display: flex;
  justify-content: space-between;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 900;
  line-height: 40.27px;
  text-align: left;
  color: #000000;
}

.outlet-container {
  min-height: 81.5vh;
}

.footer-container {
  padding: 1em;
  background-color: #252525;
  text-align: center;
}

.footer-container p {
  font-family: Inter;
  font-size: 1em;
  font-weight: 500;
  line-height: 22.92px;
  text-align: center;
  color: #AAAAAA;
}

.header-container .nav-links a {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 22.92px;
  text-align: right;
  margin-left: 1em;
  color: #4D4D4D;
}

.home-page {
  background-image: url('../public/background--hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 81.5vh;
  display: flex;
}

.home-page-container {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.home-page-container h1 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 42px;
  text-align: left;
  color: #FFFFFF;
}

.home-page-container p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
}

.home-page-container a {
  font-family: Inter;
  font-size: 15.95px;
  font-weight: 700;
  line-height: 31.66px;
  text-align: center;
  background-color: #FF8C38;
  color: #FFFFFF;
  padding: 0.6em 0;
  border-radius: 5px;
}

.about-page {
  min-height: 81.5vh;
  display: flex;
  flex-direction: column;
}

.about-page img {
  width: 100%;
  height: 400px;
}

.about-page-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

.about-page-container h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  color: #161616;
}

.about-page-container p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;

}

.about-cta {
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  background-color: #FFCC8D;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.about-cta h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #161616;
}

.about-cta a {
  font-family: Inter;
  font-size: 15.95px;
  font-weight: 700;
  line-height: 23.92px;
  text-align: left;
  padding: 12px 24px;
  color: #FFFFFF;
  background: #161616;
  width: 40%;
  text-align: center;
  margin-top: 1em;
  border-radius: 5px;
}

.vans-page {
  min-height: 81.5vh;
  display: flex;
  flex-direction: column;
}

.vans-page-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em auto;
}

.vans-page-container h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 33.65px;
  text-align: left;
  color: #161616;
}


.vans-page-nav {
  display: flex;
  justify-content: space-between;
}

.vans-page-nav button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.92px;
  text-align: center;
  color: #4D4D4D;
  padding: 5px 0;
  width: 150px;
  background: #FFEAD0;
  border: none;
  border-radius: 5px;
}

.van-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.van-item {
  width: 48%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.van-item img {
  border-radius: 5px;
}

.van-item-info {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 31.66px;
  text-align: left;
  color: #161616;

}

.van-item span {
  color: #FFEAD0;
  background-color: #115E59;
  width: 50%;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
}

.selected-van-page {
  min-height: 81.5vh;
  display: flex;
  flex-direction: column;
}

.selected-van-page-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em auto;
}

.back-link {
  font-family: Inter;
  font-size: 15.95px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: left;
  color: #201F1D;
}

.back-link span {
  color: #858585;
  font-size: 2em;
}

.back-link:hover {
  text-decoration: underline;
}

.selected-van-page-container img {
  border-radius: 5px;
}

.selected-van-page-container>span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  line-height: 31.66px;
  text-align: center;
  color: #FFEAD0;
  background-color: #E17654;
  border-radius: 5px;
  width: 30%;
  padding: 5px 0;
}

.selected-van-page-container h1 {
  width: 494.33px;
  height: 34px;
  top: 810.27px;
  left: 26.91px;
  gap: 0px;
  opacity: 0px;
  color: #161616;
}

.selected-van-page-container h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 44.15px;
  text-align: left;

}

.selected-van-page-container p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.92px;
  text-align: left;

}

.rent-van-link {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 31.66px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF8C38;
  padding: 8px;
  border-radius: 5px;
}

.host-dashboard {
  min-height: 81.5vh;
  display: flex;
  flex-direction: column;
}

.host-dashboard-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em auto;
}

.host-dashboard-container nav {
  display: flex;
  gap: 4em;
}

.host-dashboard-container nav a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.92px;
  text-align: left;
  color: #4D4D4D;
}

/* .host-vans {
  display: flex;
  flex-direction: column;
} */

.host-vans-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto;
  min-height: 50vh;
}

.host-vans-container h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 33.65px;
  text-align: left;

}

.host-vans-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.host-vans-items .van-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  width: 100%;
}

.host-vans-items .van-item img {
  width: 150px;
}

.host-vans-items .van-item h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 31.66px;
  text-align: left;
  color: #161616;

}

.host-vans-items .van-item h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 31.66px;
  text-align: left;
  color: #4D4D4D;
}

.reviews-page,
.income-page,
.dashboard-page,
.host-vans-page,
.selected-host-van {
  /* width: 800px; */
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em auto;
}

.reviews-page-container,
.income-page-container,
.dashboard-page-container,
.selected-host-van-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em auto;
}

.selected-host-van-container {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
}

.selected-host-van-display {
  display: flex;
  align-items: center;
  gap: 4em;
}

.selected-host-van-display img {
  width: 50%;
  border-radius: 5px;
}

.selected-host-van-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.selected-host-van-info span {
  font-family: Inter;
  font-size: 18;
  font-weight: 600;
  line-height: 25.78px;
  text-align: center;
  color: #FFEAD0;
  background: #E17654;
  padding: 6px 40px;
  border-radius: 5px;
}

.selected-host-van-info h3 {
  font-family: Inter;
  font-size: 26.06px;
  font-weight: 700;
  line-height: 27.4px;
  text-align: left;
  color: #161616;
}

.h4 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 35.95px;
  text-align: left;
  color: #161616;
}

.selected-host-van-nav {
  font-family: Inter;
  font-size: 16.15px;
  font-weight: 500;
  line-height: 20.57px;
  text-align: left;
  color: #4D4D4D;
  display: flex;
  gap: 3em;
}

.selected-host-pricing {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 21.46px;
  text-align: left;
  color: #161616;
}

.selected-host-pricing p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.46px;
  text-align: left;
  color: #4D4D4D;
}

.selected-host-details strong {
  font-family: Inter;
  font-size: 14.35px;
  font-weight: 700;
  line-height: 21.46px;
  text-align: left;
  color: #161616;
}

.selected-host-photos img {
  width: 300px;
}